@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: auto;
}

.calciBody {
  position: relative;
  width: 40vw;
  height: auto;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  border-radius: 2vh;
  border: 2px solid white;
}

#disp {
  width: 100%;
  height: 8vh;
  text-align: right;
  font-size: 24px;
  padding-right: 1vh;
  margin-bottom: 0.8vh;
  outline: none;
  border: none;
  border-radius: 1vh;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btnContainer button {
  margin: 0.4vh 0.2vw;
  width: 18%;
  height: 8vh;
  font-size: 24px;
  font-weight: 600;
  border: none;
  border-radius: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: gray;
}

.btnContainer button:hover {
  background-color: aqua;
}

.btnContainer button.special {
  color: white;
  background-color: orange;
}

.btnContainer button.special:hover {
  background-color: yellowgreen;
}

#blockOpener {
  width: 2vw;
  height: 10vh;
  position: absolute;
  left: 100%;
  top: 45%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blockOpener:hover {
  border-left: 2px solid white;
  color: white;
  background-color: orange;
}

#arrowRight {
  font-size: 40px;
}

.blockHM {
  width: 25vw;
  height: 96%;
  left: 100%;
  padding: 0.5vw;
  border: 2px solid white;
  border-radius: 1vh;
  position: absolute;
  color: white;
  background-color: rgb(64, 64, 64);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: openBlock 1s;
}

@keyframes openBlock {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 100%;
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.navBar button {
  border: none;
  color: white;
  background-color: transparent;
}

.navBar button.active {
  color: orange;
  text-decoration: overline;
}

.navBar button:hover {
  color: yellowgreen;
  text-decoration: overline;
}

.innerBlock {
  width: 100%;
  height: 85%;
  padding-right: 0.5vw;
  overflow: auto;
  text-align: right;
}

.historyItem {
  margin: 1vh 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid transparent;
}

.historyItem:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

#deleteHist {
  bottom: 1vh;
  right: 0.3vw;
  color: white;
  background-color: transparent;
  position: absolute;
  border: none;
}

#deleteHist:hover {
  color: red;
}

.memBox .opt {
  padding: 0.3vh;
  margin: 0 0.2vh;
  color: white;
  border: 2px solid gray;
  border-radius: 1vh;
  background-color: transparent;
}

.memBox .opt:hover {
  background-color: gray;
}

@media screen and (max-width: 900px) {
  .calciBody {
    width: 50vw;
  }

  #blockOpener {
    width: 8vw;
    height: 3vh;
    position: absolute;
    left: 45%;
    top: 100%;
  }

  #blockOpener:hover {
    border-left: none;
    border-top: 2px solid white;
  }

  .btnContainer button {
    font-size: 24px;
  }

  #arrowRight {
    font-size: 30px;
    rotate: 90deg;
  }

  .blockHM {
    width: 100%;
    height: 96%;
    top: 100%;
    left: 0%;
    padding: 0.5vw;
    position: absolute;
    animation: openBlockBellow 1s;
  }

  @keyframes openBlockBellow {
    0% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 1;
      top: 100%;
    }
  }
}

@media screen and (max-width: 750px) {
  .calciBody {
    width: 70vw;
  }

  .btnContainer button {
    font-size: 16px;
  }

  #arrowRight {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .calciBody {
    width: 90vw;
  }

  .btnContainer button {
    font-size: 12px;
  }

  #arrowRight {
    font-size: 10px;
  }
}
